*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/.idea/
key.jks
api-[a-z0-9-]*.json
Gemfile
Gemfile.lock
fastlane/Appfile
fastlane/Fastfile
