html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,pre,a,abbr,acronym,address,big,cite,code,del,dfn,img,ins,kbd,q,s,samp,small,strike,tt,var,b,u,i,center,dl,dt,dd,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}table{border-collapse:collapse;border-spacing:0}.centered{margin:0 auto;min-width:960px}.clearfix:after{content:".";display:block;clear:both;visibility:hidden;line-height:0;height:0}.clearfix{display:inline-block}html[xmlns] .clearfix{display:block}* html .clearfix{height:1%}

body {
    line-height: 1.1em;
    font-weight: 700;
    background: url('file:///android_asset/graph_tile.png');
    padding: 1em;
}

sup {
    font-family: Verdana, sans-serif;
}

.bulleted {
    list-style-type: disc;
}

.bulleted li {
    margin-left: 3em;
}

li {
    line-height: 1.4;
}

p {
    font-size: 1.5em;
    font-family: Helvetica, Times, serif;
    padding: .75em 0;
    line-height: 1.7em;
    color: #333333;
    overflow: auto;
    font-weight: 500;
}

a > h1 {
    font-size: 1.5em;
}

blockquote {
    font-style: italic;
}

#news, .entry h1, .date-stamp, #question, .nav-buttons, footer p, footer a:link {
    font-family: Verdana, Helvetica, Arial, sans-serif;
}

a:link {
    color: #005994;
    text-decoration: underline;
    font-weight: 700;
}

a:visited {
    color: #000;
}

#news {
    border-top: 1px dotted black;
    font-size: .8em;
    padding: 1em 0;
    text-transform: uppercase;
    color: #005994;
    text-align: center;
}

#question, #attribute {
    font-style: italic;
    font-weight: 700;
    color: #005994;
}

#question {
    padding-top: 1.5em;
    padding-left: 0.2em;
    padding-right: 0.2em;
}

#attribute {
    padding-bottom: 1.5em;
    text-align: right;
    margin-right: 20%;
    margin-top: -.7em;
    font-family: Verdana, Helvetica, Arial, sans-serif;
}

.entry h1 {
    font-size: 1.5em;
    line-height: 1.1em;
    font-weight: 700;
}

.date-stamp {
    font-size: .7em;
    color: #999;
}

.illustration {
    max-width: 95%;
    min-height: 15em;
    width: auto !important;
    object-fit: contain;
    display: block;
    margin: 0 auto;
    padding: 0.7em 0;
}

.aside {
    font-style: italic;
    font-size: .9em;
    padding-top: 0;
    padding-bottom: 2.2em;
    text-align: center;
}

/* the reference tooltips style starts here */

.ref {
    position: relative;
    vertical-align: baseline;

   }

.refnum {
    position: relative;
    left: 2px;
    bottom: 1ex;
    font-family: Verdana, sans-serif;
    color: #005994;
    font-size: .7em;
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer;
}

.refbody {
    font-family: Verdana, sans-serif;
    font-size: .7em;
    line-height: 1.1;
    display: block;
    min-width: 20em;
    position: absolute;
    left: 25px;
    bottom: 5px ;
    border: 1px solid;
    padding: 5px;
    background-color: #fff;
    word-wrap: break-word;
    z-index: 9999;
    overflow: auto;
    visibility: hidden;
}

/* the archive style starts here */

#archive-wrapper {
    margin: 0  auto;
    padding: 2em;
    border-radius: 1em;
    background: #fff;
    width: 70%;
    text-align: center;
 }

#archive-wrapper:after {
   content: " ";
   display: block;
   height: 0;
   clear: both;
}

.archive-entry {
    display: inline-block;
    height: 15em;
    width: 9em;
    vertical-align: middle;
    margin: .5em;
}

h1.archive-title a {
    text-decoration: none;
}

.archive-entry a:visited {
    color: #999;
}

a:visited .archive-image {
    border: 1px solid #999;
}

.archive-image {
    height: 8em;
    width: 8em;
    border: 1px solid #005994;
    margin: .5em auto;
    }

.archive-title {
    font-family: Verdana, Helvetica, Arial, sans-serif;
    font-size: 1em;
    line-height: 1.2;
    }

.archive-date {
    font-size: .8em;
    padding-top: .3em;
    }

/* The book page style starts here */


#book-links {
    margin-bottom: -2em;
}

#book-links li {
    font-family: verdana, tahoma, sans-serif;
}

#book-wrapper{
    margin: 0 auto;
    width: 90%;
    border-radius: 1em;
    background: #fff;
    padding: .5em 2em;
}

#intro {
    margin: 0 auto;
    width: 70%;
    padding-bottom: 1.5em;
}

#intro img {
    margin-top: 1.5em;
}

#intro p {
    text-align: center;
}

#book-wrapper h2 {
    border-top: 1px solid #ccc;
    text-align: center;
    padding-top: 2em;
    margin-top: 2em;
    font-family: verdana;
    font-weight: bold;
    font-size: 1.25em;
}

#book-wrapper h3 {
    font-family: verdana, tahoma, sans-serif;
    text-align: center;
    text-transform: uppercase;
    font-weight: normal;
    font-size: .9em;
    margin: .5em 0 1em 0;
}

#tour-info p{
    font-family: verdana, tahoma, sans-serif;
    font-size: .8em;
    margin-left: 20%;
}

#tour-info {
    margin-bottom: 3em;
}

.map {
    width: 100%;
    border-radius: 15em;
    border: 1px dotted #ccc;
    }

#editions {
    list-style-type: disc;
    margin-left: 15%;
    padding-top: 2em;
    padding-bottom: 3em;
}

#editions li {
    font-family: verdana, sans-serif;
    font-size: .9em;
    padding-bottom: .5em;
    }

/* #Media Queries
================================================== */

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-device-width: 480px) {

   .refbody { min-width: 0}

   #news {
       font-size: .8em;
       text-transform: none;
   }

   body {
       font-size: 2em;
   }

   #book-wrapper {
       padding: 0;
    }

   .entry {
       padding: 1em;
   }

   #submit {
       font-size: 1.5em;
       width: 70%;
   }
}