<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="xyz.jienan.xkcd">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:name=".XkcdApplication"
        android:allowBackup="true"
        android:manageSpaceActivity="xyz.jienan.xkcd.settings.ManageSpaceActivity"
        android:extractNativeLibs="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppBarFontTheme"
        tools:ignore="UnusedAttribute"
        tools:replace="android:extractNativeLibs">

        <activity
            android:name=".home.MainActivity"
            android:configChanges="screenSize|keyboardHidden|uiMode"
            android:windowSoftInputMode="adjustNothing"
            android:launchMode="singleTop"
            android:theme="@style/CustomActionBarTheme"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>

        <activity
            android:name=".comics.activity.ImageDetailPageActivity"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:launchMode="singleTask"
            android:theme="@style/TransparentBackgroundTheme" />

        <activity
            android:name=".comics.activity.ImageWebViewActivity"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:label=" "
            android:launchMode="singleTask"
            android:theme="@style/TransparentBackgroundTheme" />

        <activity
            android:name=".settings.PreferenceActivity"
            android:configChanges="screenSize|orientation|keyboardHidden|uiMode"
            android:label="@string/settings"
            android:launchMode="singleTop" />

        <activity
            android:name=".list.activity.XkcdListActivity"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:label="@string/title_xkcd_list" />

        <activity
            android:name=".list.activity.WhatIfListActivity"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:label="@string/title_what_if_list" />
        
        <activity android:name=".settings.ManageSpaceActivity"
            android:launchMode="singleInstance"
            android:label="@string/activity_title_manage_space"/>

        <meta-data
            android:name="xyz.jienan.xkcd.base.glide.OkHttpProgressGlideModule"
            android:value="GlideModule" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_notification" />

        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            tools:node="remove" />

    </application>

    <queries>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.BROWSABLE" />
            <data android:scheme="https" />
        </intent>
    </queries>

</manifest>