<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="xyz.jienan.xkcd">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="xyz.jienan.xkcd.XkcdApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:extractNativeLibs="true"
        tools:replace="android:extractNativeLibs"
        android:theme="@style/AppNoBarFontTheme"
        tools:ignore="GoogleAppIndexingWarning,UnusedAttribute">

        <activity
            android:name=".home.MainActivity"
            android:configChanges="screenSize|keyboardHidden"
            android:launchMode="singleTop"
            android:theme="@style/CustomActionBarTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>

        <activity
            android:name="xyz.jienan.xkcd.comics.activity.ImageDetailPageActivity"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:launchMode="singleTask" />

        <activity
            android:name=".settings.PreferenceActivity"
            android:label="@string/settings"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:launchMode="singleTask" />

        <activity
            android:name=".list.activity.XkcdListActivity"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:label="@string/title_xkcd_list" />

        <activity
            android:name=".list.activity.WhatIfListActivity"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:label="@string/title_what_if_list" />

        <service android:name=".base.firebase.XkcdFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <service android:name=".whatif.WhatIfFastLoadService" />

        <meta-data
            android:name="xyz.jienan.xkcd.base.glide.OkHttpProgressGlideModule"
            android:value="GlideModule" />
        <!-- Set custom default icon. This is used when no icon is set for incoming notification messages.
             See README(https://goo.gl/l4GJaQ) for more. -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_notification" />
        <!-- Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more. -->
        <!--<meta-data-->
        <!--android:name="com.google.firebase.messaging.default_notification_color"-->
        <!--android:resource="@color/colorAccent" />-->

    </application>

</manifest>